* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  :root {
    --light: #f4f4f4;
    --white: #fff;
    --primary: #007acc;
    --gray: #ccc;
    --background: #f0f6fc;
    --black: #000;
    --dark-gray: #8d97ad;
  }

  /* SERVICES PAGE */
#services-showcase {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
      url(../img/services-bg.webp) top center/cover no-repeat;
    color: var(--white);
    margin-top: 60px;
    text-align: center;
    padding: 20px 0px;
    line-height: 1;
  }
  
  .main-services {
    height: 500%;
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    margin-top: 5px;
  }

  .services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  section .p-heading {
      font-size: 1.5rem;
  }

  .service-header {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 30px;
      margin-top: 20px;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(var(--white) 50%, var(--primary) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  .main-services p {
    color: #292e72;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: var(--primary);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: var(--primary);
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    .main-services {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
  .main-services {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }